In [ ]:
import pandas as pd

In [ ]:
test_full = pd.read_csv('full_test_plaintext.txt', sep = '\t')
train_full = pd.read_csv('full_train_plaintext.txt', sep = '\t')
valid_full = pd.read_csv('full_valid_plaintext.txt', sep = '\t')

test_img = pd.read_csv('img_test_plaintext.txt', sep = '\t')
train_img = pd.read_csv('img_train_plaintext.txt', sep = '\t')
valid_img = pd.read_csv('img_valid_plaintext.txt', sep = '\t')

test_balanced = pd.read_csv('balanced_test_plaintext.txt', sep = '\t')

emoji_map = pd.read_csv('emoji_map_1791.csv')

#Pre-Checking

**Key Points:**

1. Tweets that contain a retweet ends with _q (train, test, valid_img do not contain _q)

2. For tweets that contain a retweet with pic, that tweet ID is not included in img.txt, but the text in the retweet is considered. (See codes below)
e.g. id 742700829703057408_q is in full_test but not img_test

3. Idk for this case, 742886817339432962_q.. annotations: 1 emoji that belongs to the retweet. However, we have two other emojis in the tweet itself. 747532397315395584_q, 743594076503683072_q, 747522541464453120_q, 744959564504793088_q too

4. 747159552718680064_q have 4 emojis in main tweet but only 1 annotation..
Conclusion: I think they only see the retweet not the main tweet if that tweet contains a retweet

5. 753324941404147712 2 annotations: flower and heart -> heart from the pic??, but 742960387843338241 doesnt take into account the emoji in the pic

6. 746283452740206592 weird annotations. In full_train_plaintext only hv 5 annotations, img_test 4 annotations, img_train -> a lot

It's a reply to a main tweet and all the replies in that thread are considered.
Try this "emoji_map.loc[[768, 775, 520, 776, 525, 784, 785, 787, 1556, 791, 537, 1562, 539, 540, 796, 1310, 798, 544, 806, 554, 557, 1582, 815, 818, 1330, 566, 567, 56, 569, 58, 57, 824, 1598, 577, 1604, 585, 1354, 593, 1361, 1362, 1365, 1367, 600, 1119, 1125, 1126, 615, 103, 1389, 1134, 1144, 1406, 130, 642, 648, 649, 1162, 651, 652, 1167, 143, 1169, 913, 916, 662, 663, 664, 919, 920, 1180, 1437, 670, 926, 930, 681, 684, 174, 1200, 1201, 177, 1210, 1217, 200, 721, 1255, 1263, 754, 757, 509, 510], 'ucode']"

Maybe the API will answer every doubt we have :)

In [ ]:
print("total rows: " + str(len(test_full)))
print("total tweets that contain a retweet: " + str(len(test_full[(test_full['id'].str[-2:] == "_q")])))
test_full.head()

total rows: 1000000
total tweets that contain a retweet: 53482

                   id annotations
0  747643690521341953        1138
1  746196870121164800        1056
2  744595559470800896        1381
3  747720844730859520    889,1128
4  743285629576843264        1424

In [ ]:
print("total rows: " + str(len(train_full)))
print("total tweets that contain a retweet: " + str(len(train_full[(train_full['id'].str[-2:] == "_q")])))
train_full.head()

total rows: 12997219
total tweets that contain a retweet: 690524

                   id annotations
0  744014442837454848      47,883
1  742407819496919041        1381
2  744101567981359105        1421
3  744692442033577984        1056
4  746426733834944512   1056,1381

In [ ]:
print("total rows: " + str(len(valid_full)))
print("total tweets that contain a retweet: " + str(len(valid_full[(valid_full['id'].str[-2:] == "_q")])))
valid_full.head()

total rows: 1000000
total tweets that contain a retweet: 53332

                   id     annotations
0  746634523048292352  1103,1389,1399
1  741650544847147009            1381
2  746803092239196162            1424
3  746625375875170304            1107
4  744724790485757952            1620

In [ ]:
test_img = test_img.astype({'id': str})
print("total rows: " + str(len(test_img)))
print("total tweets that contain a retweet: " + str(len(test_img[(test_img['id'].str[-2:] == "_q")])))
test_img.head()

total rows: 79191
total tweets that contain a retweet: 0

                   id  ...   annotations
0  748230468458418177  ...          1382
1  747854910612398081  ...      174,1108
2  742432606709485568  ...           186
3  742257533616816128  ...            78
4  747312758127890432  ...  156,601,1109

[5 rows x 3 columns]

In [ ]:
train_img = train_img.astype({'id': str})
print("total rows: " + str(len(train_img)))
print("total tweets that contain a retweet: " + str(len(train_img[(train_img['id'].str[-2:] == "_q")])))
train_img.head()

total rows: 916864
total tweets that contain a retweet: 0

                   id  ... annotations
0  744014442837454848  ...      47,883
1  742240402288345088  ...         229
2  742427564535353349  ...         658
3  747888709375229952  ...   1108,1108
4  747199027649871872  ...        1466

[5 rows x 3 columns]

In [ ]:
valid_img = valid_img.astype({'id': str})
print("total rows: " + str(len(valid_img)))
print("total tweets that contain a retweet: " + str(len(valid_img[(valid_img['id'].str[-2:] == "_q")])))
valid_img.head()

total rows: 79419
total tweets that contain a retweet: 0

                   id  ...                  annotations
0  746473363992784897  ...                         1105
1  747463019911843840  ...  186,503,1111,1112,1113,1114
2  742355654052978689  ...                      186,635
3  748291920175173632  ...                           78
4  746296637509668866  ...                      186,426

[5 rows x 3 columns]

In [ ]:
print("total rows: " + str(len(test_balanced)))
print("total tweets that contain a retweet: " + str(len(test_balanced[(test_balanced['id'].str[-2:] == "_q")])))
test_balanced.head()

total rows: 9528
total tweets that contain a retweet: 659

                     id                                        annotations
0    742207272537886721                                                575
1    746284085362966528  24,25,186,187,217,550,560,979,980,1126,1219,12...
2  741070803807043585_q                                               1516
3    744681934626791428                                           761,1088
4    747676925183803392                                                659

In [ ]:
print(len(emoji_map))
emoji_map.head()

1791

  Unnamed: 0 category  ... alt_title aliases_ascii
0        #Ô∏è‚É£  symbols  ...       NaN           NaN
1        *Ô∏è‚É£  symbols  ...       NaN           NaN
2        0Ô∏è‚É£  symbols  ...       NaN           NaN
3        1Ô∏è‚É£  symbols  ...       NaN           NaN
4        2Ô∏è‚É£  symbols  ...       NaN           NaN

[5 rows x 11 columns]

In [ ]:
emoji_map.rename(columns = {'Unnamed: 0': 'ucode1'}, inplace = True)
emoji_map[(emoji_map['ucode1'] == emoji_map['ucode'])] #ucode and ucode1 are the same

     ucode1  category  ... alt_title aliases_ascii
0       #Ô∏è‚É£   symbols  ...       NaN           NaN
1       *Ô∏è‚É£   symbols  ...       NaN           NaN
2       0Ô∏è‚É£   symbols  ...       NaN           NaN
3       1Ô∏è‚É£   symbols  ...       NaN           NaN
4       2Ô∏è‚É£   symbols  ...       NaN           NaN
...     ...       ...  ...       ...           ...
1786      ü¶é  unicode9  ...       NaN           NaN
1787      ü¶è  unicode9  ...       NaN           NaN
1788      ü¶ê  unicode9  ...       NaN           NaN
1789      ü¶ë  unicode9  ...       NaN           NaN
1790      üßÄ      food  ...       NaN           NaN

[1791 rows x 11 columns]

In [ ]:
# emoji_map.loc[[768, 775, 520, 776, 525, 784, 785, 787, 1556, 791, 537, 1562, 539, 540, 796, 1310, 798, 544, 806, 554, 557, 1582, 815, 818, 1330, 566, 567, 56, 569, 58, 57, 824, 1598, 577, 1604, 585, 1354, 593, 1361, 1362, 1365, 1367, 600, 1119, 1125, 1126, 615, 103, 1389, 1134, 1144, 1406, 130, 642, 648, 649, 1162, 651, 652, 1167, 143, 1169, 913, 916, 662, 663, 664, 919, 920, 1180, 1437, 670, 926, 930, 681, 684, 174, 1200, 1201, 177, 1210, 1217, 200, 721, 1255, 1263, 754, 757, 509, 510], 'ucode']
emoji_map.loc[1393, 'ucode']

'üòé'

#Cleaning

## Remove duplicate annotations (and store them in a sorted list)

For train_full, test_full, and valid_full, I think there are no duplicates and alr in order. For the img, a lot of duplicates

In [ ]:
remove_duplicates = lambda annotation : sorted(list(int(x) for x in set(annotation.split(","))))

In [ ]:
test_full["annotations"] = test_full["annotations"].apply(remove_duplicates)
train_full["annotations"] = train_full["annotations"].apply(remove_duplicates)
valid_full["annotations"] = valid_full["annotations"].apply(remove_duplicates)

test_img["annotations"] = test_img["annotations"].apply(remove_duplicates)
train_img["annotations"] = train_img["annotations"].apply(remove_duplicates)
valid_img["annotations"] = valid_img["annotations"].apply(remove_duplicates)

test_balanced["annotations"] = test_balanced["annotations"].apply(remove_duplicates)

In [ ]:
train_full

                          id      annotations
0         744014442837454848        [47, 883]
1         742407819496919041           [1381]
2         744101567981359105           [1421]
3         744692442033577984           [1056]
4         746426733834944512     [1056, 1381]
...                      ...              ...
12997214  744270931997171712           [1210]
12997215  743546441591721984           [1447]
12997216  742894986304344064  [12, 114, 1111]
12997217  741607748975132672           [1428]
12997218  744088860909518848           [1107]

[12997219 rows x 2 columns]

In [ ]:
valid_full

                        id         annotations
0       746634523048292352  [1103, 1389, 1399]
1       741650544847147009              [1381]
2       746803092239196162              [1424]
3       746625375875170304              [1107]
4       744724790485757952              [1620]
...                    ...                 ...
999995  747420757790162944              [1620]
999996  744673950962225152               [544]
999997  741743895000809472              [1415]
999998  745039072628899841              [1447]
999999  746762117898895361               [186]

[1000000 rows x 2 columns]

## Filter out Tweets with Images

Key Points:
1. There are some tweets in train_img but not in train_full (e.g. 760790155389243393)

In [ ]:
train_text = pd.concat([train_full, train_img])
print("total rows without imgid before: " + str(len(train_text[train_text["imgid"].isnull()])))
print("total rows with imgid before: " + str(len(train_text[train_text["imgid"].notnull()])))

train_text = train_text.drop_duplicates(subset = 'id', keep = False)
print("total rows without imgid after: " + str(len(train_text[train_text["imgid"].isnull()])))
print("total rows with imgid after: " + str(len(train_text[train_text["imgid"].notnull()])))

train_text = train_text[train_text["imgid"].isnull()]
train_text = train_text.drop('imgid', 1)
print("total rows in train_text final: " + str(len(train_text)))

total rows without imgid before: 12997219
total rows with imgid before: 916864
total rows without imgid after: 12124064
total rows with imgid after: 43709
total rows in train_text final: 12124064

In [ ]:
test_text = pd.concat([test_full, test_img])
print("total rows without imgid before: " + str(len(test_text[test_text["imgid"].isnull()])))
print("total rows with imgid before: " + str(len(test_text[test_text["imgid"].notnull()])))

test_text = test_text.drop_duplicates(subset = 'id', keep = False)
print("total rows without imgid after: " + str(len(test_text[test_text["imgid"].isnull()])))
print("total rows with imgid after: " + str(len(test_text[test_text["imgid"].notnull()])))

test_text = test_text[test_text["imgid"].isnull()]
test_text = test_text.drop('imgid', 1)
print("total rows in test_text final: " + str(len(test_text)))

total rows without imgid before: 1000000
total rows with imgid before: 79191
total rows without imgid after: 932573
total rows with imgid after: 11764
total rows in test_text final: 932573

In [ ]:
valid_text = pd.concat([valid_full, valid_img])
print("total rows without imgid before: " + str(len(valid_text[valid_text["imgid"].isnull()])))
print("total rows with imgid before: " + str(len(valid_text[valid_text["imgid"].notnull()])))

valid_text = valid_text.drop_duplicates(subset = 'id', keep = False)
print("total rows without imgid after: " + str(len(valid_text[valid_text["imgid"].isnull()])))
print("total rows with imgid after: " + str(len(valid_text[valid_text["imgid"].notnull()])))

valid_text = valid_text[valid_text["imgid"].isnull()]
valid_text = valid_text.drop('imgid', 1)
print("total rows in valid_text final: " + str(len(valid_text)))

total rows without imgid before: 1000000
total rows with imgid before: 79419
total rows without imgid after: 932533
total rows with imgid after: 11952
total rows in valid_text final: 932533

In [ ]:
train_text

                            id      annotations
1           742407819496919041           [1381]
2           744101567981359105           [1421]
3           744692442033577984           [1056]
4           746426733834944512     [1056, 1381]
5         744959564504793088_q            [616]
...                        ...              ...
12997214    744270931997171712           [1210]
12997215    743546441591721984           [1447]
12997216    742894986304344064  [12, 114, 1111]
12997217    741607748975132672           [1428]
12997218    744088860909518848           [1107]

[12124064 rows x 2 columns]

In [ ]:
test_text

                        id   annotations
0       747643690521341953        [1138]
1       746196870121164800        [1056]
2       744595559470800896        [1381]
3       747720844730859520   [889, 1128]
4       743285629576843264        [1424]
...                    ...           ...
999995  742645704074481664        [1105]
999996  747015502791335936        [1400]
999997  744745632141737984         [807]
999998  747071768817471488        [1389]
999999  748393225166127105  [1393, 1447]

[932573 rows x 2 columns]

In [ ]:
valid_text

                        id         annotations
0       746634523048292352  [1103, 1389, 1399]
1       741650544847147009              [1381]
2       746803092239196162              [1424]
3       746625375875170304              [1107]
4       744724790485757952              [1620]
...                    ...                 ...
999995  747420757790162944              [1620]
999996  744673950962225152               [544]
999997  741743895000809472              [1415]
999998  745039072628899841              [1447]
999999  746762117898895361               [186]

[932533 rows x 2 columns]

In [ ]:
test_text = test_text[test_text['id'].str[-2:] != "_q"]
train_text = train_text[train_text['id'].str[-2:] != "_q"]
valid_text = valid_text[valid_text['id'].str[-2:] != "_q"]

In [ ]:
test_text

In [ ]:
train_text

In [ ]:
valid_text

## Get The Tweets and Remove Unavailable Tweets

In [ ]:
# consumer key / API key = BFkhoyYPvdDg6vRTgHAYyAa9r
# consumer key secret / API key secret = Hx5OQOgLxP2fsqLoUUGRdJycBhisYg1uac8vtSqdLyLijUkvcD
# bearer token = AAAAAAAAAAAAAAAAAAAAAHdSUQEAAAAAzd%2B01SA5YHfDQmy3h7VX2OYyiC4%3Dd2eQEh8Z2nAQ9zWBMyKlyjOKwjwb7lwUJT4SEDTWcCFxz3xHmX
# access token = 1443079270301978625-vzmeZhaly1A7mmS861eBoF9eAF2eWW
# access token secret = MR3rzfGlS9MHsT3B7bDBfwU7yAU5RS7F8MVYtSoGXmHGj

In [ ]:
import tweepy

consumer_key = 'BFkhoyYPvdDg6vRTgHAYyAa9r'
consumer_secret = 'Hx5OQOgLxP2fsqLoUUGRdJycBhisYg1uac8vtSqdLyLijUkvcD'
access_key= '1443079270301978625-vzmeZhaly1A7mmS861eBoF9eAF2eWW'
access_secret = 'MR3rzfGlS9MHsT3B7bDBfwU7yAU5RS7F8MVYtSoGXmHGj'

In [ ]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)

In [ ]:
api = tweepy.API(auth)

In [ ]:
def get_tweets(id):
    if id[-2:]!="_q":
        try:
            return api.get_status(id).text
        except:
            return 
    else:
        try:
            return api.get_status(id).text + " *<RETWEET TEXT>* " + api.get_status(id).quoted_status.text
        except:
            return

In [ ]:
get_tweets('74288681733943272_q')

In [ ]:
test_text["tweets"] = test_text["id"].apply(get_tweets)
train_text["tweets"] = train_text["id"].apply(get_tweets)
valid_text["tweets"] = valid_text["id"].apply(get_tweets)